body {
    height: 100%;
    margin: auto;
    padding: auto;
  }
/* Navegador */
  .nav {
    background-color: #2c3e50;
    color: #ffffff;
    display: inline-block;
    width: 100%; }

.home {
    color: #ffffff;
    font-family: Lato;
    padding-left: 180px;
    padding-right: 500px;
    font-size: 30px;}    
 
.navbar{
    display: inline-flex;
    list-style: none; }
 
.navbar li {
    font-family: Montserrat;
    padding: 10px;}

/* Perfil */
.container{
     display: block;
     background-color: #18bc9c;
     color: #ffffff;
     text-align: center;
     padding: 8%;}
 
.container h1 {
     font-size: 60px;
     font-family: Lato;}
 
.container h3 {
     font-size: 18px;
     font-family: Montserrat;}
 
/* Portfolio */     

.titlePortfolio{
    text-align: center;
    font-family: Lato;
    font-size: 42px;
    color:#2c3e50;
}

.portifolio {
   
}

.flex-container {
    margin: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}



 /* Sobre */   
 .about {
    background-color: #18bc9c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    height: 500px;
}   

 .titleAbout {
     color: #ffffff;
     font-family: Lato;
     font-size: 42px;
     text-align: center;
     } 

.textAbout {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    display: flex;
    width: 49%;
    font-weight: 100;
    
}      

#download{
    width: 195px;
    height: 41px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 20px;
  }

/* Contato */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    color: #2c3e50;
  }

  .titleContact {
    text-align: center;
    font-family: Lato;
    font-size: 42px;
  }
    .contact-form {
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        align-items: flex-start;
        color: grey;
        font-family: Lato;
        font-size: 20px;  
        line-height: 25px;
        margin-top: 45px; 
      }
      
      input, textarea {
        width: 500px;
        border: none;
        border-bottom: 1px solid grey;
        margin-top: 20px;
        margin-bottom: 27.2px;
      }
      
      textarea {
        height: 110px;
      }
      
      #button{
        background-color: #18bc9c;
        color: white;
        border: 2px solid #18bc9c;
        border-radius: 5px;
        font-family: Lato;
        font-size: 19px; 
        padding: 10px 15px;
        
      }

/* Rodape */
  
     .rodape{
       height: 300px;
       background-color:#2c3e50;
     }

     .rodape1{
    margin: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    color: #ffffff;
}

  .titleLocation {
      color: #ffffff;
      font-family: Lato;

  }

   .titleSocial {
     color: #ffffff;
     font-family: Lato;
   }

   .titleFree {
     color: #FFFFFF;
     font-family: Lato;

   }