.menu {
    background-color: #2c3e50;
    color: #ffffff;
    font-family: Montserrat;
    padding: 2%;
    margin-bottom: 0;}
 
 li {
     display: inline;
     padding: 20px;}
 
 .container{
     display: block;
     background-color: #18bc9c;
     color: #ffffff;
     font-family: Montserrat;
     text-align: center;
     padding: 8%;}
 
 h1 {
     font-size: 40px;}
 
 h2 {
     font-size: 16px;}